<ion-view title="Alarm" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="alarm-form1" class="list">
      <label class="item item-select" id="alarm-select1">
        <span class="input-label">Select Alarm</span>
        <select>
          <option>7:00am</option>
          <option>9:00am</option>
          <option>11:00am</option>
          <option>1:00pm</option>
          <option>3:00pm</option>
          <option>5:00pm</option>
          <option>7:00pm</option>
          <option>9:00pm</option>
          <option>11:00pm</option>
          <option>4:00am</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>