<ion-view title="Contacts" id="page2">
  <ion-content padding="true" class="has-header">
    <button id="contacts-button16" class="button button-positive button-block">Emergency Number</button>
    <div class="spacer" style="width: 283px; height: 79px;"></div>
    <ion-list id="contacts-list1">
      <ion-item class="item-avatar" id="contacts-list-item1">
        <h2>Mr A(018723)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item2">
        <h2>Ms B(67676)</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item3">
        <h2>Mr C(35789)</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 79px;"></div>
  </ion-content>
</ion-view>