<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 53px;"></div>
    <a ui-sref="contacts()" id="home-button1" class="button button-positive button-block">Contacts</a>
    <a ui-sref="message()" id="home-button2" class="button button-positive button-block">Message</a>
    <a ui-sref="obstacle()" id="home-button3" class="button button-positive button-block">Obstacle</a>
    <a ui-sref="location()" id="home-button4" class="button button-positive button-block">Location</a>
    <a ui-sref="alarm()" id="home-button5" class="button button-positive button-block">Alarm</a>
    <a ui-sref="batteryLife()" id="home-button7" class="button button-positive button-block">Battery %</a>
    <a ui-sref="weatherUpdates()" id="home-button8" class="button button-positive button-block">Weather Forecast</a>
  </ion-content>
</ion-view>