<ion-view title="Location" id="page5">
  <ion-content padding="true" class="has-header">
    <div></div>
    <form id="location-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="location-toggle1">Location On/Off</ion-toggle>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div>
      <img src="img/xQPM0BsQda4uqtAGDFEm_chittagong1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>